p {
    color: #5f82db;
    font-size: 24px;
}

title {
    color: teal;
    font-style: bold;
    border: solid 1px black;
    width: fit-content;
}

footer {
    border: solid 5px red;
    padding: 5px;
    margin: 5px;
    width: fit-content;
}

main {
    color: purple;
    font-size: 18px;
}

header {
color: pink;
}
