p {
    color: #5f82db;
    font-size: 24px;
}

title {
    color: teal;
    font-style: bold;
}

footer {
    border: solid 5px red;
    padding: 5px;
    margin: 5px;
    width: fit-content;
}